*~
*.prob
*.csp.pl
*.dot
data.mch
wiwi_data.mch
data.pl
wiwi_data.pl
slottool_env/
dist/
SlotSolver/
WiWiSolver/
# ignore sqlite databases
*.sqlite3
# ignore all sql files besides schema.sql
*.sql
!schema.sql
# Marker for make to track dependencies
requirements.inst

# Gradle
.gradle/
bin/modelgenerator*.jar
__pycache__
