*~
*.prob
*.csp.pl
*.dot
data.mch
*data.mch
*data.xml
data.pl
slottool_env/
dist/
SlotSolver/
WiWiSolver/
# ignore sqlite databases
*.sqlite3
# ignore all sql files besides schema.sql
*.sql
!schema.sql
!raw/cs.sql
# Marker for make to track dependencies
requirements.inst

# Gradle
.gradle/
bin/modelgenerator*.jar
__pycache__
bin/
